<!DOCTYPE html>
<html lang="en">

<head>
    <script src="lib/jquery-3.2.1.js"></script>
    <script src="lib/angular.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/UserHelpMe.js"></script>
    <link href=' css/UserHelpMe.css' rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BookForAll</title>

    <style>

    </style>
</head>

<body ng-app="app" ng-controller="UserHelpMeController">

     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-right: 2%;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collappsed-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="homepage.html"><img class="navbar-brand" src="./Resources/Images/BooksForAll%20-%20small.png" alt="icon"/></a>
    </div>

    <div class="collapse navbar-collapse" id="collappsed-nav">
      <ul class="nav navbar-nav">
    <li><a href="myeBooks.html">My eBooks</a></li>
						    	<li><a href="Profile.html">{{user.nickname}}</a></li>
						    	    <li><a href="Mail.html" style="display:inline-block;" ng-attr-title="{{msg}}">Mail <span class="badge">{{mailCount}}</span></a></li>
						    	
						    	<li><a href="About.html">About</a></li>
								<li class="active"><a href="UserHelpMe.html">Contact us</a></li>	
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>                        
            <a class="menuSignout" href="" ng-click="Signout()" style="color: #FF5252">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container" style="padding-top:8%;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="cent">
                    <div class="well well-lg" style="width: 554px; height: 350px;">
                        <form class="form-horizontal">
                            <fieldset>
                                <h3 class="text-center">Contact us</h3>
                                <hr>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Subject</label>
                                    <div class="col-md-9">
                                        <input id="name" name="name" type="text" placeholder="Subject" class="form-control" ng-model="subject" required="required">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="message">Message</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here" rows="5" ng-model="message" required="required"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12" style="text-align: right; margin:auto;">
                                        <button type="submit" class="btn btn-primary" ng-click="SubmitMSG()">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Success!</h4>
        </div>
        <div class="modal-body">
          <p>Message sent.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="Done()">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</body>

</html>